Repository AY2425S1-CS2103T-F12-3/tp, pull requests merged in 2024-11, with the labels that each got.

#295 [UG] Update appointment information (ie timing limits)
  docs/UserGuide.md
Labels: priority.Medium, severity.Medium, type.UserGuide, alpha-bug

#298 [DG] Manual testing for appointments
  docs/DeveloperGuide.md
Labels: priority.High, severity.High, type.DeveloperGuide

#300 Fix inconsistencies in User Guide
  docs/UserGuide.md
  docs/_config.yml
  docs/_sass/minima/_base.scss
Labels: priority.Low

#306 Add pictures for UG
  README.md
  docs/UserGuide.md
  docs/images/Ui.png
  docs/images/addAllergyCommand.png
  docs/images/addApptCommand.png
  docs/images/addMedConCommand.png
  docs/images/findAlexDavidResult.png
  docs/images/findCommand.png
  docs/images/findMedConCommand.png
  docs/images/findNricCommand.png
  docs/images/medibase3Ui.png
  docs/images/setPriorityCommand.png
  docs/index.md
  src/main/java/seedu/address/logic/commands/DeleteApptCommand.java
  src/main/resources/view/MainWindow.fxml
Labels: priority.Low

#309 Update CLI Command Structure and GUI Overview Diagram for Clarity
  docs/UserGuide.md
  docs/images/CommandPromptFormat.jpg
  docs/images/GUIOverview.jpg
Labels: priority.Low, severity.Low, type.UserGuide

#310 Update the DG use case
  docs/DeveloperGuide.md
Labels: type.Task, priority.Medium, type.DeveloperGuide

#311 Move PersonBuilder class to main
  src/main/java/seedu/address/model/person/PersonBuilder.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/AddApptCommandTest.java
  src/test/java/seedu/address/logic/commands/AddCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteApptCommandTest.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/parser/AddCommandParserTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/model/AddressBookTest.java
  src/test/java/seedu/address/model/person/MedConContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/model/person/NameContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/model/person/NricMatchesPredicateTest.java
  src/test/java/seedu/address/model/person/PersonTest.java
  src/test/java/seedu/address/model/person/PriorityMatchesPredicateTest.java
  src/test/java/seedu/address/model/person/UniquePersonListTest.java
  src/test/java/seedu/address/testutil/TypicalPersons.java
Labels: type.Task, priority.High, severity.High

#314 Amend Model Diagram to include relevant variables
  docs/diagrams/BetterModelClassDiagram.puml
  docs/images/BetterModelClassDiagram.png
Labels: priority.High, severity.Medium, type.DeveloperGuide, alpha-bug

#315 Update UG and change DateOfBirth error message
  docs/UserGuide.md
  src/main/java/seedu/address/commons/util/DateUtil.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/person/DateOfBirth.java
Labels: priority.Low

#316 Amend Value Proposition
  docs/DeveloperGuide.md
Labels: priority.Medium, type.DeveloperGuide

#319 Update README.MD
  README.md
Labels: type.Task, priority.Medium, severity.Medium

#320 Edit README.MD
  README.md
Labels: priority.Low, severity.Low

#324 Update testing page to note about testing parsers
  docs/Testing.md
Labels: priority.Medium, severity.Medium, type.DeveloperGuide

#321 Fix AddAppt / DelAppt incorrect messages
  src/main/java/seedu/address/logic/commands/AddApptCommand.java
  src/main/java/seedu/address/logic/parser/AddApptCommandParser.java
  src/main/java/seedu/address/logic/parser/DeleteApptCommandParser.java
  src/main/java/seedu/address/model/appointment/Appointment.java
  src/main/java/seedu/address/model/person/AppointmentExistsPredicate.java
  src/test/java/seedu/address/logic/commands/AddApptCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/parser/AddApptCommandParserTest.java
  src/test/java/seedu/address/logic/parser/DeleteApptCommandParserTest.java
  src/test/java/seedu/address/model/appointment/AppointmentTest.java
Labels: priority.High, severity.High, alpha-bug

#323 Insensitive keyword
  src/main/java/seedu/address/logic/commands/AddAllergyCommand.java
  src/main/java/seedu/address/logic/commands/AddApptCommand.java
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/AddMedConCommand.java
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/DelAllergyCommand.java
  src/main/java/seedu/address/logic/commands/DelMedConCommand.java
  src/main/java/seedu/address/logic/commands/DeleteApptCommand.java
  src/main/java/seedu/address/logic/commands/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/commands/FindMedConCommand.java
  src/main/java/seedu/address/logic/commands/FindNricCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/commands/ListPrioCommand.java
  src/main/java/seedu/address/logic/commands/SetPriorityCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ArgumentTokenizer.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/ArgumentTokenizerTest.java
Labels: priority.Medium, severity.Medium, alpha-bug

#327 Fix UI visual bug
  src/main/resources/view/AppointmentListCard.fxml
  src/main/resources/view/DarkTheme.css
Labels: type.Bug, severity.VeryLow

#330 Update undo implementation in the developer guide
  docs/DeveloperGuide.md
  docs/diagrams/UndoRedoState1.puml
  docs/diagrams/UndoSequenceDiagram-Model.puml
  docs/images/UndoRedoState1.png
Labels: type.Task, severity.Low, type.DeveloperGuide

#329 Update UG to reflect case-insensitive prefix and command
  docs/UserGuide.md
Labels: priority.Low, type.UserGuide

#331 Update NRIC Regex
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/seedu/address/model/person/Nric.java
Labels: type.Bug, severity.Low

#333 Fix Typo in add/delete medCon error message
  src/main/java/seedu/address/logic/Messages.java
Labels: priority.Low, severity.Low

#334 Fix `findMedCon` error message
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/commands/FindMedConCommand.java
  src/main/java/seedu/address/storage/JsonAdaptedPerson.java
  src/test/java/seedu/address/storage/JsonAdaptedPersonTest.java
Labels: priority.Low

#337 Amend Introduction of User Guide
  docs/UserGuide.md
Labels: priority.Low, type.UserGuide

#342 Remove redundant back link to table of content from the user guide
  docs/UserGuide.md
Labels: priority.Medium, type.UserGuide

#344 Fix typo in the faq user guide
  docs/UserGuide.md
Labels: priority.Medium, type.UserGuide

#347 Update `add` UG example to explain output
  docs/UserGuide.md
Labels: priority.Low, severity.Low, type.UserGuide

#336 Feature List Update for Consistency and Improved Readability
  docs/UserGuide.md
Labels: priority.Medium, severity.Medium, type.UserGuide

#328 Add Implementation of AddAppt in DG
  docs/DeveloperGuide.md
  docs/diagrams/AddApptCommandSequenceDiagram.puml
  docs/images/AddApptCommandSequenceDiagram.png
Labels: priority.High, severity.Medium, type.DeveloperGuide

#348 Update error message for NRIC and GENDER
  docs/UserGuide.md
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/model/person/Gender.java
  src/main/java/seedu/address/model/person/Nric.java
Labels: priority.Low, severity.Low

#349 Update How to Use User Guide section
  docs/UserGuide.md
  src/main/java/seedu/address/model/person/Nric.java
Labels: priority.Medium, type.UserGuide

#351 Shorten UG, fix nits in Quickstart to adhere to CS2101 standards
  docs/UserGuide.md
Labels: priority.Low, severity.Low, type.UserGuide

#353 Enhanced Validation for Allergy and MedCon
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/person/Allergy.java
  src/main/java/seedu/address/model/person/MedCon.java
  src/main/java/seedu/address/storage/JsonAdaptedAllergy.java
Labels: priority.Medium, severity.Medium, alpha-bug

#355 QS Link typo fix
  docs/UserGuide.md
Labels: priority.Low, severity.Low, type.UserGuide

#414 Add setPriority and Exit into Command Summary of UG
  docs/UserGuide.md
Labels: severity.VeryLow, type.UserGuide

#415 Add more user stories in dg
  docs/DeveloperGuide.md
Labels: type.Story, type.DeveloperGuide

#416 Amend typo in DG/UG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.UserGuide, type.DeveloperGuide

#417 Fix nits in UG
  docs/UserGuide.md
Labels: priority.Low, severity.Low, type.UserGuide

#418 Update DG to fix PE-D issues
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/ParserClasses.puml
  docs/images/LogicClassDiagram.png
  docs/images/ParserClasses.png
Labels: priority.Medium, type.DeveloperGuide

#419 Add clarity in explanation of various app components in DG and UG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: priority.High, severity.VeryLow, type.UserGuide, type.DeveloperGuide

#420 Fix false positive for appointment clash check
  src/main/java/seedu/address/model/appointment/Appointment.java
  src/test/java/seedu/address/logic/commands/AddApptCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/model/appointment/AppointmentTest.java
Labels: type.Bug, priority.High, severity.High, type.FunctionalityBug

#421 Set zoom in css to ensure link works
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_sass/minima/_layout.scss
Labels: type.UserGuide, type.DeveloperGuide

#424 Revert diagram changes
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/ParserClasses.puml
  docs/images/LogicClassDiagram.png
  docs/images/ParserClasses.png
Labels: priority.Low, type.DeveloperGuide

#426 Remove notations from diagram
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/ParserClasses.puml
  docs/images/LogicClassDiagram.png
  docs/images/ParserClasses.png
Labels: priority.Medium

#423 Update use case in developer guide
  docs/DeveloperGuide.md
Labels: priority.Medium, type.DeveloperGuide

#429 Update Ui.png for tp dashboard
  README.md
  docs/DeveloperGuide.md
  docs/images/Ui.png
  docs/index.md
Labels: priority.Low

#431 [UG] Update MediBase3 User Guide for Parameter Constraints and Duplication Handling
  docs/UserGuide.md
Labels: priority.Medium, severity.Medium, type.UserGuide, type.DocumentationBug

#432 Add Appendix: Planned Enhancement
  docs/DeveloperGuide.md
Labels: priority.High, type.DeveloperGuide

#434 [DG] Planned Enhancement: Allow partial addition of medical conditions and allergies
  docs/DeveloperGuide.md
Labels: priority.Medium, severity.Medium, type.DeveloperGuide, plannedEnhancement

#435 Remove bold
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#436 planned enhancement numbering fix
  docs/DeveloperGuide.md
Labels: priority.High, severity.High, type.DeveloperGuide, type.DocumentationBug

#438 Add new planned enhancements
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#439 Update known issues
  docs/UserGuide.md
Labels: priority.Medium, type.UserGuide

#441 Fix DG manual testing appendix
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#442 Update Error Messages for Allergy and Medical Condition Inputs & Adjust Parameter Details
  docs/UserGuide.md
  src/main/java/seedu/address/logic/Messages.java
Labels: priority.Low, severity.Low, type.FeatureFlaw

#445 Amend addAppt sequence diagram and typo
  docs/DeveloperGuide.md
  docs/diagrams/AddApptCommandSequenceDiagram.puml
  docs/images/AddApptCommandSequenceDiagram.png
Labels: severity.Low, type.DeveloperGuide

#443 Enhance Planned Enhancement
  docs/DeveloperGuide.md
Labels: priority.Low, severity.Low, type.DeveloperGuide, plannedEnhancement

#446 Add more Planned Enhancements
  docs/DeveloperGuide.md
Labels: priority.Medium, type.DeveloperGuide

#440 Clarify error message for emails
  docs/UserGuide.md
  docs/diagrams/AddApptCommandSequenceDiagram.puml
  src/main/java/seedu/address/model/person/Email.java
Labels: type.Bug, priority.Medium, severity.Medium

#448 Amend hyperlinks in DG to link back to team source code
  docs/DeveloperGuide.md
Labels: severity.Medium, type.DeveloperGuide

#449 Remove proposed undo/redo implementation
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/seedu/address/MainApp.java
Labels: priority.Medium, type.UserGuide, type.DeveloperGuide

#450 Remove page break
  docs/UserGuide.md
Labels: type.DeveloperGuide

#451 Fix formatting issues
  docs/UserGuide.md
Labels: type.DeveloperGuide

#453 Fix typo in the use case
  docs/DeveloperGuide.md
Labels: priority.Low, type.DeveloperGuide

#455 Add page breaks for UG and DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: priority.Low, type.UserGuide, type.DeveloperGuide

#456 Add more page breaks for DG
  docs/DeveloperGuide.md
Labels: priority.Low
